/* -------------------- GLOBAL CSS --------------------  */

:root {
  --primary-color: #6c6874;
  --secondary-color: #ae858d;
  --redish-color: #da9c9b;
  --peach-color: #f5b7a5;
  --light-color: #f7e8dc;
  --light-color-main: #f2ece6;
  --blue-color1: #87e5e7;
  --blue-color2: #99ced5;
  --blue-color3: #abb9c3;
  --pink-color1: #e4768d;
  --pink-color2: #d18c9f;
  --pink-color3: #bda2b1;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-light {
  color: #f2ece6;
}

.bg-light {
  background-color: #f2ece6 !important;
}

.nav-logo {
  max-width: 150px;
}

.container {
  margin: 60px auto;
  max-width: 700px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 60px;
  color: var(--primary-color);
}

h2 {
  font-size: 30px;
  color: var(--pink-color1);
}

h3 {
  font-size: 17px;
  color: var(--blue-color2);
  opacity: 0.7;
}

.contact-icons {
  color: #6c6874;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

/* -------------------- HOMEPAGE CSS --------------------  */

.heading {
  padding-bottom: 50px;
}

.link-buttons {
  justify-content: center;
  background: var(--blue-color1);
  box-shadow: var(--box-shadow);
  color: white;
  max-width: 200px;
  border-radius: 10px;
  margin-top: none;
  padding: 10px 10px;
  text-align: center;
}

.link-buttons a {
  text-decoration: none;
  text-transform: capitalize;
}

/* -------------------- ABOUT ME CSS --------------------  */

#profile-picture {
  border-radius: 50%;
}

/* -------------------- MY WORK CSS --------------------  */

/* -------------------- CONTACT CSS --------------------  */

.contact-container {
  border: 1px solid var(--light-color);
  border-radius: 30px;
  padding: 50px 50px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--redish-color);
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
