/* -------------------- GLOBAL CSS --------------------  */

:root {
  --primary-color: #6c6874;
  --secondary-color: #ae858d;
  --redish-color: #da9c9b;
  --peach-color: #f5b7a5;
  --light-color: #f7e8dc;
  --light-color-main: #f2ece6;
  --blue-color1: #87e5e7;
  --blue-color2: #49beb7;
  --blue-color3: #abb9c3;
  --pink-color1: #e4768d;
  --pink-color2: #d18c9f;
  --pink-color3: #bda2b1;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-light {
  color: #f2ece6;
}

.bg-light {
  background-color: #f2ece6 !important;
}

.nav-logo {
  max-width: 150px;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding-top: 50px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 80px;
  color: var(--primary-color);
  font-family: Comfortaa, sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 27px;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 17px;
  color: var(--primary-color);
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

p {
  font-size: 15px;
}

.subheadings h2 {
  font-size: 20px;
  color: var(--blue-color3);
}

.body {
  border: 1px solid rgb(204, 203, 203);
  border-radius: 30px;
  padding: 20px;
}

.contact-icons {
  color: #6c6874;
  font-size: 40px;
  text-align: center;
  padding: 30px;
}

.contact-icons ul {
  list-style-type: none;
}

.contact-icons li {
  display: inline;
  padding: 10px;
}

.footer-link {
  text-decoration: none;
  color: var(--blue-color2);
}

.btn-branding {
  background: var(--blue-color2);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 27px;
  padding: 10px 10px;
  box-shadow: var(--box-shadow);
  text-align: center;

  max-width: 200px;
}

/* -------------------- HOMEPAGE CSS --------------------  */

.heading {
  padding-bottom: 100px;
  padding-top: 100px;
  background: #f8f6f5;
  text-align: center;
}

.link-buttons {
  justify-content: center;
  box-shadow: var(--box-shadow);

  border: 1px solid #9875f2;
  max-width: 200px;
  border-radius: 10px;
  margin-top: none;
  padding: 10px 10px;
  text-align: center;
  color: #9875f2;
}

.link-buttons a {
  text-decoration: none;
  text-transform: capitalize;
  color: #9875f2;
}

/* -------------------- ABOUT ME CSS --------------------  */

#profile-picture {
  border-radius: 50%;
}

.about-me h3 {
  text-align: left;
}

/* -------------------- MY WORK CSS --------------------  */

/* -------------------- CONTACT CSS --------------------  */

.contact-container {
  border: 1px solid var(--light-color);
  border-radius: 30px;
  padding: 50px 30px;
  justify-content: center;
  width: fit-content;
}

/* -------------------- MEDIA QUIRY --------------------  */
@media (max-width: 768px) {
  .container h1 {
    font-size: 50px;
  }
  .heading {
    padding: 0 5px;
  }
  .heading h1 {
    font-size: 50px;
  }
  .btn-branding {
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .contact-icons {
    font-size: 20px;
  }
  .work-inquiry {
    margin-bottom: 30px;
  }
  .about-me {
    text-align: center;
  }

  .about-me h3 {
    text-align: center;
  }

  #profile-picture {
    display: block;
  }
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--redish-color);
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
