:root {
  --primary-color: #6c6874;
  --secondary-color: #ae858d;
  --redish-color: #da9c9b;
  --peach-color: #f5b7a5;
  --light-color: #f7e8dc;
  --light-color-main: #f2ece6;
  --blue-color1: #87e5e7;
  --blue-color2: #99ced5;
  --blue-color3: #abb9c3;
  --pink-color1: #e4768d;
  --pink-color2: #d18c9f;
  --pink-color3: #bda2b1;

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-light {
  color: #f2ece6;
}

.bg-light {
  background-color: #f2ece6 !important;
}

.nav-logo {
  max-width: 150px;
}

.container {
  margin: 60px auto;
  max-width: 700px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
}

h2 {
  font-size: 48px;
  color: var(--pink-color1);
}

h3 {
  font-size: 17px;
  color: var(--blue-color2);
  opacity: 0.7;
}

.link-buttons {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.link-buttons a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--blue-color1);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--blue-color1);
  border: 1px solid var(--blue-color1);
  box-shadow: var(--box-shadow);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
  max-width: 270px;
}

p {
  background: var(--light-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--redish-color);
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
